<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/styleWo.css">
</head>
<body>
    <h1>Some of my projects include</h1>
    <div>
        <a href="https://github.com/RaAlMer/vacman-game">Vacman Game</a>
        <a href="https://github.com/RaAlMer/lab-canvas-race-car">Lab Canvas Race Car</a>
        <a href="https://github.com/RaAlMer/lab-canvas-hangman">Lab Canvas Hangman</a>
        <a href="https://github.com/RaAlMer/lab-javascript-memory-game">Lab JavaScript Memory Game</a>
    </div>
    <a class="gallery-ph" href="/gallery">Photo gallery</a>
</body>
</html>