body {
    background-color: aquamarine;
}
h1 {
    background-color: lightblue;
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    font-size: 60px;
}
a {
    display: flex;
    text-align: center;
    margin: 20px;
    font-size: 32px;
}
div {
    display: block;
    margin-left: auto;
}